<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rx.fl.repository.OrderMapper">
    <resultMap id="BaseResultMap" type="org.rx.fl.repository.model.Order">
        <result column="id" jdbcType="CHAR" property="id"/>
        <result column="user_id" jdbcType="CHAR" property="userId"/>
        <result column="media_type" jdbcType="INTEGER" property="mediaType"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="unit_price" jdbcType="BIGINT" property="unitPrice"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="seller_name" jdbcType="VARCHAR" property="sellerName"/>
        <result column="pay_amount" jdbcType="BIGINT" property="payAmount"/>
        <result column="rebate_amount" jdbcType="BIGINT" property="rebateAmount"/>
        <result column="settle_amount" jdbcType="BIGINT" property="settleAmount"/>
        <result column="raw_rebate_amount" jdbcType="BIGINT" property="rawRebateAmount"/>
        <result column="raw_settle_amount" jdbcType="BIGINT" property="rawSettleAmount"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="is_deleted" jdbcType="CHAR" property="isDeleted"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, user_id, media_type, order_no, goods_id, goods_name, unit_price, quantity, seller_name, 
    pay_amount, rebate_amount, settle_amount, raw_rebate_amount, raw_settle_amount, `status`, create_time, modify_time, is_deleted
  </sql>
    <select id="selectByExample" parameterType="org.rx.fl.repository.model.OrderExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
        <if test="forUpdate != null and forUpdate == true">
            for update
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where id = #{id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_order
    where id = #{id,jdbcType=CHAR}
  </delete>
    <delete id="deleteByExample" parameterType="org.rx.fl.repository.model.OrderExample">
        delete from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.rx.fl.repository.model.Order"
            useGeneratedKeys="true">
    insert into t_order (id, user_id, media_type, order_no,
      goods_id, goods_name, unit_price, 
      quantity, seller_name, pay_amount, 
      rebate_amount, settle_amount, raw_rebate_amount, raw_settle_amount, `status`,
      create_time, modify_time, is_deleted
      )
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{mediaType,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR},
      #{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{unitPrice,jdbcType=BIGINT}, 
      #{quantity,jdbcType=INTEGER}, #{sellerName,jdbcType=VARCHAR}, #{payAmount,jdbcType=BIGINT}, 
      #{rebateAmount,jdbcType=BIGINT}, #{settleAmount,jdbcType=BIGINT}, #{rawRebateAmount,jdbcType=BIGINT}, #{rawSettleAmount,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=CHAR}
      )
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.rx.fl.repository.model.Order"
            useGeneratedKeys="true">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="mediaType != null">
                media_type,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="sellerName != null">
                seller_name,
            </if>
            <if test="payAmount != null">
                pay_amount,
            </if>
            <if test="rebateAmount != null">
                rebate_amount,
            </if>
            <if test="settleAmount != null">
                settle_amount,
            </if>
            <if test="rawRebateAmount != null">
                raw_rebate_amount,
            </if>
            <if test="rawSettleAmount != null">
                raw_settle_amount,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=CHAR},
            </if>
            <if test="mediaType != null">
                #{mediaType,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=BIGINT},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="sellerName != null">
                #{sellerName,jdbcType=VARCHAR},
            </if>
            <if test="payAmount != null">
                #{payAmount,jdbcType=BIGINT},
            </if>
            <if test="rebateAmount != null">
                #{rebateAmount,jdbcType=BIGINT},
            </if>
            <if test="settleAmount != null">
                #{settleAmount,jdbcType=BIGINT},
            </if>
            <if test="rawRebateAmount != null">
                #{rawRebateAmount,jdbcType=BIGINT},
            </if>
            <if test="rawSettleAmount != null">
                #{rawSettleAmount,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.rx.fl.repository.model.OrderExample" resultType="java.lang.Long">
        select count(*) from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_order
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=CHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=CHAR},
            </if>
            <if test="record.mediaType != null">
                media_type = #{record.mediaType,jdbcType=INTEGER},
            </if>
            <if test="record.orderNo != null">
                order_no = #{record.orderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsId != null">
                goods_id = #{record.goodsId,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsName != null">
                goods_name = #{record.goodsName,jdbcType=VARCHAR},
            </if>
            <if test="record.unitPrice != null">
                unit_price = #{record.unitPrice,jdbcType=BIGINT},
            </if>
            <if test="record.quantity != null">
                quantity = #{record.quantity,jdbcType=INTEGER},
            </if>
            <if test="record.sellerName != null">
                seller_name = #{record.sellerName,jdbcType=VARCHAR},
            </if>
            <if test="record.payAmount != null">
                pay_amount = #{record.payAmount,jdbcType=BIGINT},
            </if>
            <if test="record.rebateAmount != null">
                rebate_amount = #{record.rebateAmount,jdbcType=BIGINT},
            </if>
            <if test="record.settleAmount != null">
                settle_amount = #{record.settleAmount,jdbcType=BIGINT},
            </if>
            <if test="record.rawRebateAmount != null">
                raw_rebate_amount = #{record.rawRebateAmount,jdbcType=BIGINT},
            </if>
            <if test="record.rawSettleAmount != null">
                raw_settle_amount = #{record.rawSettleAmount,jdbcType=BIGINT},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDeleted != null">
                is_deleted = #{record.isDeleted,jdbcType=CHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_order
        set id = #{record.id,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=CHAR},
        media_type = #{record.mediaType,jdbcType=INTEGER},
        order_no = #{record.orderNo,jdbcType=VARCHAR},
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
        unit_price = #{record.unitPrice,jdbcType=BIGINT},
        quantity = #{record.quantity,jdbcType=INTEGER},
        seller_name = #{record.sellerName,jdbcType=VARCHAR},
        pay_amount = #{record.payAmount,jdbcType=BIGINT},
        rebate_amount = #{record.rebateAmount,jdbcType=BIGINT},
        settle_amount = #{record.settleAmount,jdbcType=BIGINT},
        raw_rebate_amount = #{record.rawRebateAmount,jdbcType=BIGINT},
        raw_settle_amount = #{record.rawSettleAmount,jdbcType=BIGINT},
        `status` = #{record.status,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
        is_deleted = #{record.isDeleted,jdbcType=CHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.rx.fl.repository.model.Order">
        update t_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=CHAR},
            </if>
            <if test="mediaType != null">
                media_type = #{mediaType,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=BIGINT},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="sellerName != null">
                seller_name = #{sellerName,jdbcType=VARCHAR},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount,jdbcType=BIGINT},
            </if>
            <if test="rebateAmount != null">
                rebate_amount = #{rebateAmount,jdbcType=BIGINT},
            </if>
            <if test="record.settleAmount != null">
                settle_amount = #{record.settleAmount,jdbcType=BIGINT},
            </if>
            <if test="record.rawRebateAmount != null">
                raw_rebate_amount = #{record.rawRebateAmount,jdbcType=BIGINT},
            </if>
            <if test="record.rawSettleAmount != null">
                raw_settle_amount = #{record.rawSettleAmount,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.rx.fl.repository.model.Order">
    update t_order
    set user_id = #{userId,jdbcType=CHAR},
      media_type = #{mediaType,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      pay_amount = #{payAmount,jdbcType=BIGINT},
      rebate_amount = #{rebateAmount,jdbcType=BIGINT},
      settle_amount = #{record.settleAmount,jdbcType=BIGINT},
      raw_rebate_amount = #{record.rawRebateAmount,jdbcType=BIGINT},
      raw_settle_amount = #{record.rawSettleAmount,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
    <select id="sumRebateAmount" parameterType="org.rx.fl.repository.model.OrderExample" resultType="java.lang.Long">
        select sum(rebate_amount) from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
</mapper>
