# ignore output folders
.idea/
out/
target/
logs/

# ignore files
*.iml
config.json
.DS_Store
data
*.mv.db
*.log
rxlib/GeoLite2-City.mmdb
rxlib/geoip.mmdb
rxlib/geosite-direct.txt
rxlib/rxdaemon-1.0.jar
*_dump.txt
*_jstack.txt
