<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="springContext" class="org.rx.spring.SpringContext"/>
    <bean id="logInterceptor" class="org.rx.spring.LogInterceptor"/>
    <aop:config proxy-target-class="true">
        <aop:aspect ref="logInterceptor">
            <!--<aop:pointcut id="vaPointcut"-->
            <!--expression="execution(public * org.rx..*.*(..))-->
            <!--and !execution(* java.rx.validator.*(..))"/>-->
            <aop:pointcut id="logPointcut"
                          expression="@annotation(org.rx.annotation.EnableLogging) or @within(org.rx.annotation.EnableLogging)"/>
            <aop:around pointcut-ref="logPointcut" method="doAround"/>
        </aop:aspect>
        <!--        <aop:aspect id="ca" ref="controllerAspect">-->
        <!--            <aop:pointcut id="caPointcut"-->
        <!--                          expression="execution(public * org.rx.*.controller..*.*(..)))"/>-->
        <!--            <aop:around pointcut-ref="caPointcut" method="doAround"/>-->
        <!--        </aop:aspect>-->
    </aop:config>
</beans>
