<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config proxy-target-class="true">
        <aop:aspect id="va" ref="validateAspect">
            <!--<aop:pointcut id="vaPointcut"-->
            <!--expression="execution(public * org.rx..*.*(..))-->
            <!--and !execution(* org.rx.validator.*(..))"/>-->
            <aop:pointcut id="vaPointcut"
                          expression="@annotation(org.rx.validator.ValidFlag)"/>
            <aop:around pointcut-ref="vaPointcut" method="doAround"/>
        </aop:aspect>
    </aop:config>
    <bean id="validateAspect" class="org.rx.validator.ValidateUtil"/>
</beans>
