 
/* * BASIC 
  - General Style 
  - Typography Style 
  - Button Style - Form Style
  - Spacer Style
 * HEADER 
  - Header Style 
  - Logo Style 
  - Navigation Menu Style
 * mainslider
 * about me
 * Services 
 * Achievements 
 * Portfolio 
 * Blogs 
 * inner page blog
  - breadcrumbs 
 * Contact Us 
 * footer 
 * Scroll Top Arrow 
/*-------------------------------------------------------------------------------------------*/
/* BASIC ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
/* General Style ||-------------------*/
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900');
 body {
     color: #333333;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.5;
     padding: 0;
     margin: 0;
}
 a {
     color: #333;
     cursor: pointer;
     text-decoration: none;
}
 a:focus, a:hover {
     color: #fdca4a;
     text-decoration: none;
}
 img {
     max-width: 100%;
}
 #page-wraper .wrapper {
     position: relative;
     width: 100%;
}
 .page-padding {
     padding: 0px;
}
 .page-padding #page-wraper .wrapper {
     padding: 30px;
}
 .page-border {
     position: fixed;
     background: #fff;
     display: none;
     z-index: 99;
}
 .page-padding .page-border {
     display: block;
}
 .page-border.left {
     width: 30px;
     left: 0;
     top: 0;
     height: 100%;
}
 .page-border.right {
     width: 30px;
     right: 0;
     top: 0;
     height: 100%;
}
 .page-border.top {
     width: 100%;
     left: 0;
     top: 0;
     height: 30px;
}
 .page-border.bottom {
     width: 100%;
     left: 0;
     bottom: 0;
     height: 30px;
}
 @media (max-width: 480px) {
     .page-padding #page-wraper .wrapper {
         padding: 15px;
    }
     .page-border.right, .page-border.left {
         width: 15px;
    }
     .page-border.top, .page-border.bottom {
         height: 15px;
    }
}
 .dark-bg{
     background-color: #000;
}
 .yellow-bg {
     background-color: #fdca4a;
}
 .gray-bg {
     background-color: #f6f6f6;
}
 .dark-gray-bg {
     background-color: #eeeeee;
}
 .white-bg {
     background-color: #FFF;
}
 .bg-cover-section, .small-bg-cover-section {
     background-size: cover;
     background-position: top center;
}
 .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p, .dark-bg p.small, .dark-bg p.large, .dark-bg p.lead, .dark-bg .page-icon, .dark-bg .page-icon-sm, .dark-bg ul, .dark-bg ol, .dark-bg li, .dark-bg .alt-icon-top, .dark-bg .alt-icon-left, .dark-bg .alt-icon-right {
     color: #fff;
}
 .bg-image {
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
 .overlay-yellow,.overlay-dark, .overlay-dark20, .overlay-dark60, .overlay-dark80, .overlay-dark90, .overlay-light, .overlay-light80 {
     position: relative;
     z-index: 1;
}
 .overlay-yellow:before, .overlay-dark:before, .overlay-dark20:before, .overlay-dark60:before, .overlay-dark80:before, .overlay-dark90:before, .overlay-light:before, .overlay-light80:before {
     left: 0;
     top: 0;
     position: absolute;
     width: 100%;
     height: 100%;
     content: "";
     z-index: -1;
}
 .overlay-yellow:before {
     background-color: rgba(253,202,74,0.85);
}
 .overlay-dark:before {
     background-color: rgba(34,34,34,0.85);
}
 .overlay-dark20:before {
     background-color: rgba(34,34,34,0.2);
}
 .overlay-dark60:before {
     background-color: rgba(34,34,34,0.6);
}
 .overlay-dark80:before {
     background-color: rgba(34,34,34,0.8);
}
 .overlay-dark90:before {
     background-color: rgba(34,34,34,0.9);
}
 .overlay-light:before {
     background-color: rgba(255,255,255,0.4);
}
 .overlay-light80:before {
     background-color: rgba(255,255,255,0.8);
}
 .page-icon {
     color: #333;
     font-size: 50px;
     line-height: 50px;
     padding-bottom: 15px;
     width: 100%;
}
 .page-icon-sm {
     color: #333;
     font-size: 25px;
     margin-bottom: 15px;
}
 i.left, .i-left {
     margin-right: 6px;
}
 i.right, .i-right {
     margin-left: 6px;
}
 hr {
     border-top: 1px solid #dddddd !important;
     margin-bottom: 0 !important;
     margin-top: 0 !important;
}
 .video {
     max-width: 100%;
     height: auto;
}
 iframe, embed, object {
     max-width: 100%;
}
/* Typography Style ||-----------------------------------*/
/*heading*/
 h1, h2, h3, h4, h5, h6 {
     color: #333;
     text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     margin-top: 0px;
     line-height: 1.5;
     margin-bottom: 15px;
}
 h1 {
     font-size: 40px;
}
 h2 {
     font-size: 30px;
}
 h3 {
     font-size: 25px;
}
 h4 {
     font-size: 20px;
}
 h5 {
     font-size: 18px;
}
 h6 {
     font-size: 16px;
}
 h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, h6 .white {
     color: #fff;
}
 h1.color, h2.color, h3.color, h4.color, h5.color, h6.color, h6 .color {
     color: #c7a674;
}
 @media only screen and (max-width: 991px) {
     h1 {
         font-size: 30px;
    }
     h2 {
         font-size: 22px;
         font-weight: 800;
    }
     h3 {
         font-size: 20px;
    }
     h4 {
         font-size: 18px;
    }
     h5 {
         font-size: 16px;
    }
     h6 {
         font-size: 14px;
    }
}
 .page-title {
     margin-bottom: 60px;
     font-weight: 800;
}
 .page-title2 {
     margin-bottom: 90px;
     font-weight: 800;
}
 .page-title-alt {
     margin-bottom: 30px;
     color: #c7a674;
}
 .content-title {
     margin-bottom: 25px;
}
 .text-light {
     font-weight: 300;
}
 .text-regular {
     font-weight: 400;
}
 .text-bold {
     font-weight: 600;
}
 .text-extra-bold {
     font-weight: 700;
}
 .text-italic {
     font-style: italic;
}
 .max-width-500 {
     max-width: 500px;
     margin-left: auto;
     margin-right: auto;
}
 .max-width-700 {
     max-width: 700px;
     margin-left: auto;
     margin-right: auto;
}
/*Paragraph*/
 p {
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     line-height: 1.6;
     font-weight: 500;
     margin-bottom: 15px;
     margin-top: 0px;
}
 p.small {
     font-size: 14px;
}
 p.large {
     font-size: 18px;
}
 p.lead {
     font-size: 22px;
     margin-bottom: 25px;
}
 p.white, p.small.white, p.large.white, p.lead.white, p .white, .white {
     color: #fff;
}
 p.dark, p.small.dark, p.large.dark, p.lead.dark, p .dark, .dark {
     color: #666666;
}
 p.color p.small.color, p.large.color, p.lead.color, p .color, .color {
     color: #c7a674;
}
/* listing */
 ul.list-inside {
     padding-left: 0px;
     list-style: inside;
     margin-bottom: 25px;
     font-size: 16px;
}
 ul.list-none {
     list-style: none;
     padding-left: 0px;
}
/*Links & Anchor Tag*/
 .dark-bg a {
}
 .dark-bg a:hover {
}
 a {
     transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
}
 .link, .link-d {
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size: 12px;
     font-weight: 400;
     color: inherit;
     padding-bottom: 2px;
     text-decoration: none;
     transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
}
 .Link {
     color: #333;
}
 .Link:hover {
     color: #c7a674;
}
 .link-d {
     color: #fff;
}
 .link-d:hover {
     color: #c7a674;
}
/* Button Style ||--------------------------------*/
 .btn-border {
     border:2px solid #fdca4a;
}
 .btn, button {
     font-size: 14px;
     line-height: 1;
     font-weight: 600;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none !important;
     text-transform: uppercase;
     text-align: center;
     transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     outline: none;
     border-width: 2px;
     border-style: solid;
     display: inline-block;
     border-radius: 0;
}
 .btn.focus, .btn:focus {
     color: #333333;
     box-shadow: none;
}
 .btn i, button i, i.left {
     margin-right: 6px;
}
 i.right {
     margin-left: 6px;
     margin-right: 0px !important;
}
 .btn-sm {
     padding: 9px 30px !important;
     display: inline-block;
}
 .btn-md {
     padding: 11px 25px !important;
     display: inline-block;
}
 .btn-lg {
     padding: 14px 30px !important;
     display: inline-block;
}
 .btn-black {
     background-color: #333;
     border-color: transparent;
     color: #fff;
}
 .btn-black:hover {
     background-color: #fdca4a;
     border-color: transparent;
     color: #fff;
}
 .btn-color {
     background-color: #fdca4a;
     border-color: transparent;
     color: #000;
}
 .btn-color:hover {
     background-color: #000000;
     border-color: transparent;
     color: #ffffff;
}
 .btn-white {
     background-color: rgba(255,255,255,1);
     border-color: transparent;
     color: #333;
}
 .btn-white:hover {
     background-color: rgba(255,255,255,0.85);
     border-color: transparent;
     color: #333;
}
/* Form Style ||--------------------------------*/
 form {
     position: relative;
}
 button {
     outline: none;
}
 button, html input[type="button"], input[type="reset"], input[type="submit"] {
     cursor: pointer;
     display: inline-block;
}
 button, input, textarea, select {
     font-family: 'Montserrat', sans-serif;
     font-size: 12px;
}
 input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {
     appearance: none;
     -webkit-appearance: none;
     border: 1px solid rgba(0, 0, 0, 0.2);
     background: #fff;
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     border-radius: 0px !important;
     color: #333;
     outline: none;
     font-weight: 400;
     letter-spacing: 1px;
     font-size: 13px;
     padding-left: 15px;
     padding-right: 15px;
     transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
     -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
     -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
     -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
     display: inline-block;
    /*text-transform: uppercase;
     */
     line-height: 1.2;
}
 input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="number"]:hover, input[type="radio"]:hover, input[type="checkbox"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
     border: 1px solid rgba(0, 0, 0, 0.2);
}
 input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="password"]:focus, textarea:focus {
     border: 1px solid rgba(0, 0, 0, 0.7);
     color: #ffffff;
}
 input.input-lg, .input-lg {
     padding-top: 14px;
     padding-bottom: 14px;
}
 input.input-md, .input-md {
     padding-top: 12px;
     padding-bottom: 12px;
}
 input.input-sm, .input-sm {
     padding-top: 10px;
     padding-bottom: 10px;
}
 input.input-xs, .input-xs {
     padding-top: 8px;
     padding-bottom: 8px;
}
 textarea {
     height: 120px;
     font-size: 13px !important;
}
 label {
     color: #333;
     font-size: 12px;
     margin-bottom: 10px;
     padding-right: 3px;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin-top: 6px;
     font-family: 'Montserrat', sans-serif;
}
 .form-full {
     width: 100%;
}
 .form-full-height {
     height: 100%;
}
 .cntform-field {
     margin-bottom: 20px;
     position: relative;
}
 form .error {
     border-color: #e1534f;
}
 form label.error {
     margin-bottom: 0px;
     margin-top: 3px;
     color: #FF0000;
     font-size: 12px;
     font-weight: 400;
     text-align: left;
     width: 100%;
     text-transform: none;
}
 .successContent, .errorContent {
     margin-bottom: 20px;
     display: none;
     text-transform: none;
     letter-spacing: 1px;
     color: #ffffff;
}
 .parallex-bg {
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
}
/* Spacer Style ||------------------------*/
/*spacing*/
 .space-15 {
     height: 15px;
     width: 100%;
}
 .space-30 {
     height: 30px;
     width: 100%;
}
 .space-45 {
     height: 45px;
     width: 100%;
}
 .space-60 {
     height: 60px;
     width: 100%;
}
 .space-75 {
     height: 75px;
     width: 100%;
}
 .space-90 {
     height: 90px;
     width: 100%;
}
/*padding*/
 .section-padding {
     padding-top: 100px;
     padding-bottom: 100px;
}
 .section-padding-t {
     padding-top: 100px;
}
 .section-padding-b {
     padding-bottom: 100px;
}
/*--*/
 .p-90 {
     padding: 90px;
}
 .ptb-90 {
     padding-top: 90px;
     padding-bottom: 90px;
}
 .plt-90 {
     padding-left: 90px;
     padding-right: 90px;
}
 .pt-90 {
     padding-top: 90px;
}
 .pb-90 {
     padding-bottom: 90px;
}
/*--*/
 .p-85 {
     padding: 85px;
}
 .ptb-85 {
     padding-top: 85px;
     padding-bottom: 85px;
}
 .plt-85 {
     padding-left: 85px;
     padding-right: 85px;
}
 .pt-85 {
     padding-top: 85px;
}
 .pb-85 {
     padding-bottom: 85px;
}
/*--*/
 .p-80 {
     padding: 80px;
}
 .ptb-80 {
     padding-top: 80px;
     padding-bottom: 80px;
}
 .plt-80 {
     padding-left: 80px;
     padding-right: 80px;
}
 .pt-80 {
     padding-top: 80px;
}
 .pb-80 {
     padding-bottom: 80px;
}
/*--*/
 .p-75 {
     padding: 75px;
}
 .ptb-75 {
     padding-top: 75px;
     padding-bottom: 75px;
}
 .plt-75 {
     padding-left: 75px;
     padding-right: 75px;
}
 .pt-75 {
     padding-top: 75px;
}
 .pb-75 {
     padding-bottom: 75px;
}
/*--*/
 .p-70 {
     padding: 70px;
}
 .ptb-70 {
     padding-top: 70px;
     padding-bottom: 70px;
}
 .plt-70 {
     padding-left: 70px;
     padding-right: 70px;
}
 .pt-70 {
     padding-top: 70px;
}
 .pb-70 {
     padding-bottom: 70px;
}
/*--*/
 .p-65 {
     padding: 65px;
}
 .ptb-65 {
     padding-top: 65px;
     padding-bottom: 65px;
}
 .plt-65 {
     padding-left: 65px;
     padding-right: 65px;
}
 .pt-65 {
     padding-top: 65px;
}
 .pb-65 {
     padding-bottom: 65px;
}
/*--*/
 .p-60 {
     padding: 60px;
}
 .ptb-60 {
     padding-top: 60px;
     padding-bottom: 60px;
}
 .plt-60 {
     padding-left: 60px;
     padding-right: 60px;
}
 .pt-60 {
     padding-top: 60px;
}
 .pb-60 {
     padding-bottom: 60px;
}
/*--*/
 .p-55 {
     padding: 55px;
}
 .ptb-55 {
     padding-top: 55px;
     padding-bottom: 55px;
}
 .plt-55 {
     padding-left: 55px;
     padding-right: 55px;
}
 .pt-55 {
     padding-top: 55px;
}
 .pb-55 {
     padding-bottom: 55px;
}
/*--*/
 .p-50 {
     padding: 50px;
}
 .ptb-50 {
     padding-top: 50px;
     padding-bottom: 50px;
}
 .plt-50 {
     padding-left: 50px;
     padding-right: 50px;
}
 .pt-50 {
     padding-top: 50px;
}
 .pb-50 {
     padding-bottom: 50px;
}
/*--*/
 .p-45 {
     padding: 45px;
}
 .ptb-45 {
     padding-top: 45px;
     padding-bottom: 45px;
}
 .plt-45 {
     padding-left: 45px;
     padding-right: 45px;
}
 .pt-45 {
     padding-top: 45px;
}
 .pb-45 {
     padding-bottom: 45px;
}
/*--*/
 .p-40 {
     padding: 40px;
}
 .ptb-40 {
     padding-top: 40px;
     padding-bottom: 40px;
}
 .plt-40 {
     padding-left: 40px;
     padding-right: 40px;
}
 .pt-40 {
     padding-top: 40px;
}
 .pb-40 {
     padding-bottom: 40px;
}
/*--*/
 .p-35 {
     padding: 35px;
}
 .ptb-35 {
     padding-top: 35px;
     padding-bottom: 35px;
}
 .plt-35 {
     padding-left: 35px;
     padding-right: 35px;
}
 .pt-35 {
     padding-top: 35px;
}
 .pb-35 {
     padding-bottom: 35px;
}
/*--*/
 .p-30 {
     padding: 30px;
}
 .ptb-30 {
     padding-top: 30px;
     padding-bottom: 30px;
}
 .plt-30 {
     padding-left: 30px;
     padding-right: 30px;
}
 .pt-30 {
     padding-top: 30px;
}
 .pb-30 {
     padding-bottom: 30px;
}
/*--*/
 .p-25 {
     padding: 25px;
}
 .ptb-25 {
     padding-top: 25px;
     padding-bottom: 25px;
}
 .plt-25 {
     padding-left: 25px;
     padding-right: 25px;
}
 .pt-25 {
     padding-top: 25px;
}
 .pb-25 {
     padding-bottom: 25px;
}
/*--*/
 .p-20 {
     padding: 20px;
}
 .ptb-20 {
     padding-top: 20px;
     padding-bottom: 20px;
}
 .plt-20 {
     padding-left: 20px;
     padding-right: 20px;
}
 .pt-20 {
     padding-top: 20px;
}
 .pb-20 {
     padding-bottom: 20px;
}
/*--*/
 .p-15 {
     padding: 15px;
}
 .ptb-15 {
     padding-top: 15px;
     padding-bottom: 15px;
}
 .plr-15 {
     padding-left: 15px;
     padding-right: 15px;
}
 .plt-15 {
     padding-left: 15px;
     padding-right: 15px;
}
 .pt-15 {
     padding-top: 15px;
}
 .pb-15 {
     padding-bottom: 15px;
}
/*--*/
 .p-10 {
     padding: 10px;
}
 .ptb-10 {
     padding-top: 10px;
     padding-bottom: 10px;
}
 .plt-10 {
     padding-left: 10px;
     padding-right: 10px;
}
 .pt-10 {
     padding-top: 10px;
}
 .pb-10 {
     padding-bottom: 10px;
}
/*--*/
 .p-5 {
     padding: 5px;
}
 .ptb-5 {
     padding-top: 5px;
     padding-bottom: 5px;
}
 .plt-5 {
     padding-left: 5px;
     padding-right: 5px;
}
 .pt-5 {
     padding-top: 5px;
}
 .pb-5 {
     padding-bottom: 5px;
}
 .plr-0 {
     padding-left: 0;
     padding-right: 0;
}
/*margrin*/
 .container-margin {
     margin-top: 90px;
     margin-bottom: 90px;
}
 .container-margin-t {
     margin-top: 90px;
}
 .container-margin-b {
     margin-bottom: 90px;
}
/*--*/
 .m-90 {
     margin: 90px;
}
 .mtb-90 {
     margin-top: 90px;
     margin-bottom: 90px;
}
 .mlr-90 {
     margin-left: 90px;
     margin-right: 90px;
}
 .mt-90 {
     margin-top: 90px;
}
 .mb-90 {
     margin-bottom: 90px;
}
/*--*/
 .m-85 {
     margin: 85px;
}
 .mtb-85 {
     margin-top: 85px;
     margin-bottom: 85px;
}
 .mlr-85 {
     margin-left: 85px;
     margin-right: 85px;
}
 .mt-85 {
     margin-top: 85px;
}
 .mb-85 {
     margin-bottom: 85px;
}
/*--*/
 .m-80 {
     margin: 80px;
}
 .mtb-80 {
     margin-top: 80px;
     margin-bottom: 80px;
}
 .mlr-80 {
     margin-left: 80px;
     margin-right: 80px;
}
 .mt-80 {
     margin-top: 80px;
}
 .mb-80 {
     margin-bottom: 80px;
}
/*--*/
 .m-75 {
     margin: 75px;
}
 .mtb-75 {
     margin-top: 75px;
     margin-bottom: 75px;
}
 .mlt-75 {
     margin-left: 75px;
     margin-right: 75px;
}
 .mt-75 {
     margin-top: 75px;
}
 .mb-75 {
     margin-bottom: 75px;
}
/*--*/
 .m-70 {
     margin: 70px;
}
 .mtb-70 {
     margin-top: 70px;
     margin-bottom: 70px;
}
 .mlr-70 {
     margin-left: 70px;
     margin-right: 70px;
}
 .mt-70 {
     margin-top: 70px;
}
 .mb-70 {
     margin-bottom: 70px;
}
/*--*/
 .m-65 {
     margin: 65px;
}
 .mtb-65 {
     margin-top: 65px;
     margin-bottom: 65px;
}
 .mlr-65 {
     margin-left: 65px;
     margin-right: 65px;
}
 .mt-65 {
     margin-top: 65px;
}
 .mb-65 {
     margin-bottom: 65px;
}
/*--*/
 .m-60 {
     margin: 60px;
}
 .mtb-60 {
     margin-top: 60px;
     margin-bottom: 60px;
}
 .mlr-60 {
     margin-left: 60px;
     margin-right: 60px;
}
 .mt-60 {
     margin-top: 60px;
}
 .mb-60 {
     margin-bottom: 60px;
}
/*--*/
 .m-55 {
     margin: 55px;
}
 .mtb-55 {
     margin-top: 55px;
     margin-bottom: 55px;
}
 .mlr-55 {
     margin-left: 55px;
     margin-right: 55px;
}
 .mt-55 {
     margin-top: 55px;
}
 .mb-55 {
     margin-bottom: 55px;
}
/*--*/
 .m-50 {
     margin: 50px;
}
 .mtb-50 {
     margin-top: 50px;
     margin-bottom: 50px;
}
 .mlr-50 {
     margin-left: 50px;
     margin-right: 50px;
}
 .mt-50 {
     margin-top: 50px;
}
 .mb-50 {
     margin-bottom: 50px;
}
/*--*/
 .m-45 {
     margin: 45px;
}
 .mtb-45 {
     margin-top: 45px;
     margin-bottom: 45px;
}
 .mlr-45 {
     margin-left: 45px;
     margin-right: 45px;
}
 .mt-45 {
     margin-top: 45px;
}
 .mb-45 {
     margin-bottom: 45px;
}
/*--*/
 .m-40 {
     margin: 40px;
}
 .mtb-40 {
     margin-top: 40px;
     margin-bottom: 40px;
}
 .mlr-40 {
     margin-left: 40px;
     margin-right: 40px;
}
 .mt-40 {
     margin-top: 40px;
}
 .mb-40 {
     margin-bottom: 40px;
}
/*--*/
 .m-35 {
     margin: 35px;
}
 .mtb-35 {
     margin-top: 35px;
     margin-bottom: 35px;
}
 .mlr-35 {
     margin-left: 35px;
     margin-right: 35px;
}
 .mt-35 {
     margin-top: 35px;
}
 .mb-35 {
     margin-bottom: 35px;
}
/*--*/
 .m-30 {
     margin: 30px;
}
 .mtb-30 {
     margin-top: 30px;
     margin-bottom: 30px;
}
 .mlr-30 {
     margin-left: 30px;
     margin-right: 30px;
}
 .mt-30 {
     margin-top: 30px;
}
 .mb-30 {
     margin-bottom: 30px;
}
/*--*/
 .m-25 {
     margin: 25px;
}
 .mtb-25 {
     margin-top: 25px;
     margin-bottom: 25px;
}
 .mlr-25 {
     margin-left: 25px;
     margin-right: 25px;
}
 .mt-25 {
     margin-top: 25px;
}
 .mb-25 {
     margin-bottom: 25px;
}
/*--*/
 .m-20 {
     margin: 20px;
}
 .mtb-20 {
     margin-top: 20px;
     margin-bottom: 20px;
}
 .mlr-20 {
     margin-left: 20px;
     margin-right: 20px;
}
 .mt-20 {
     margin-top: 20px;
}
 .mb-20 {
     margin-bottom: 20px;
}
/*--*/
 .m-15 {
     margin: 15px;
}
 .mtb-15 {
     margin-top: 15px;
     margin-bottom: 15px;
}
 .mlr-15 {
     margin-left: 15px;
     margin-right: 15px;
}
 .mt-15 {
     margin-top: 15px;
}
 .mb-15 {
     margin-bottom: 15px;
}
/*--*/
 .m-10 {
     margin: 10px;
}
 .mtb-10 {
     margin-top: 10px;
     margin-bottom: 10px;
}
 .mlr-10 {
     margin-left: 10px;
     margin-right: 10px;
}
 .mt-10 {
     margin-top: 10px;
}
 .mb-10 {
     margin-bottom: 10px;
}
/*--*/
 .m-5 {
     margin: 5px;
}
 .mtb-5 {
     margin-top: 5px;
     margin-bottom: 5px;
}
 .mlr-5 {
     margin-left: 5px;
     margin-right: 5px;
}
 .mt-5 {
     margin-top: 5px;
}
 .mb-5 {
     margin-bottom: 5px;
}
/*--*/
 .m-0 {
     margin: 0px;
}
 .mtb-0 {
     margin-top: 0px;
     margin-bottom: 0px;
}
 .mlr-0 {
     margin-left: 0px;
     margin-right: 0px;
}
 .mt-0 {
     margin-top: 0px;
}
 .mb-0 {
     margin-bottom: 0px;
}
 @media (max-width: 1024px) {
     .section-padding-t {
         padding-top: 60px;
    }
}
 @media (max-width: 991px) {
     .section-padding-t {
         padding-top: 60px;
    }
     .p-sm-0 {
         padding: 0px;
    }
     .ptb-sm-0 {
         padding-top: 0px;
         padding-bottom: 0px;
    }
     .plt-sm-0 {
         padding-left: 0px;
         padding-right: 0px;
    }
     .pt-sm-0 {
         padding-top: 0px;
    }
     .pb-sm-0 {
         padding-bottom: 0px;
    }
     .mtb-sm-30 {
         margin-top: 30px;
         margin-bottom: 30px;
    }
     .mlt-sm-30 {
         margin-left: 30px;
         margin-right: 30px;
    }
     .mt-sm-30 {
         margin-top: 30px;
    }
     .mb-sm-30 {
         margin-bottom: 30px;
    }
    /* 0 */
     .mtb-sm-0 {
         margin-top: 0px;
         margin-bottom: 0px;
    }
     .mlt-sm-0 {
         margin-left: 0px;
         margin-right: 0px;
    }
     .mt-sm-0 {
         margin-top: 0px;
    }
     .mb-sm-0 {
         margin-bottom: 0px;
    }
}
 @media (max-width: 767px) {
    /*extra small medium*/
    /*padding*/
     .section-padding {
         padding-top: 60px;
         padding-bottom: 60px;
    }
     .section-padding-t {
         padding-top: 60px;
    }
     .section-padding-b {
         padding-bottom: 60px;
    }
    /*margrin*/
     .container-margin {
         margin-top: 60px;
         margin-bottom: 60px;
    }
     .container-margin-t {
         margin-top: 60px;
    }
     .container-margin-b {
         margin-bottom: 60px;
    }
     .float-xs-left {
         float: left !important;
         text-align: left;
    }
     .float-xs-right {
         float: right !important;
         text-align: right;
    }
     .p-xs-0 {
         padding: 0px;
    }
     .ptb-xs-0 {
         padding-top: 0px;
         padding-bottom: 0px;
    }
     .plt-xs-0 {
         padding-left: 0px;
         padding-right: 0px;
    }
     .pt-xs-0 {
         padding-top: 0px;
    }
     .pb-xs-0 {
         padding-bottom: 0px;
    }
     .mtb-xs-30 {
         margin-top: 30px;
         margin-bottom: 30px;
    }
     .mlt-xs-30 {
         margin-left: 30px;
         margin-right: 30px;
    }
     .mt-xs-30 {
         margin-top: 30px;
    }
     .mb-xs-30 {
         margin-bottom: 30px;
    }
    /* 0 */
     .mtb-xs-0 {
         margin-top: 0px;
         margin-bottom: 0px;
    }
     .mlt-xs-0 {
         margin-left: 0px;
         margin-right: 0px;
    }
     .mt-xs-0 {
         margin-top: 0px;
    }
     .mb-xs-0 {
         margin-bottom: 0px;
    }
}
/*-------------------------------------------------------------------------------------------*/
/* HEADER ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
/* Header Style ||-------------------*/
 .header {
     position: absolute;
     text-align: center;
     top: 0px;
     z-index: 1000;
     color: #fff;
     width: 100%;
     padding-top: 30px;
     padding-bottom: 30px;
     transition: background-color 200ms ease-in-out 0s;
     -o-transition: background-color 200ms ease-in-out 0s;
     -moz-transition: background-color 200ms ease-in-out 0s;
     -webkit-transition: background-color 200ms ease-in-out 0s;
}
 .header.header-sticky-top {
     background-color: rgba(51, 51, 51, 0.90);
}
 .header.header-fixed {
     display: block;
     margin-top: 0 !important;
     position: fixed;
     padding: 15px 0;
}
 .header-inner {
     padding-left: 30px;
     padding-right: 30px;
     position: relative;
}
 .header-fixed .logo a {
     width: 160px;
     transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
}
 .header-fixed .nav-menu ul.nav-menu-inner li a {
     padding: 10px 12px;
}
 @media all and (max-width: 1024px) {
     .header .logo a {
         width: 140px;
         transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
         -moz-transition: all 0.3s ease 0s;
         -webkit-transition: all 0.3s ease 0s;
    }
}
/* Logo Style ||-------------------*/
 .logo {
     float: left;
     text-align: left;
     display: inline-block;
     padding: 6px 0 0;
}
 .logo a {
     width: 180px;
     display: block;
     transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
}
 .logo a img {
     width: 100%;
     transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
}
/* Navigation Menu Style ||-------------------*/
 .nav-menu {
     position: static;
     float: right;
     display: block;
}
 .nav-menu.active {
     display: block;
}
 .nav-menu ul.nav-menu-inner {
     padding: 0;
     list-style: none;
     margin: 0;
}
 .nav-menu ul.nav-menu-inner li {
     display: inline-block;
     list-style: none;
     text-align: center;
}
 .nav-menu ul.nav-menu-inner li a {
     display: block;
     color: #fff;
     font-size: 13px;
     line-height: 1;
     padding: 10px 12px;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
}
 .nav-menu-icon {
     display: none;
     float: right;
}
 .nav-menu-icon a {
     color: #fff;
     display: block;
     font-size: 17px;
     padding: 0;
}
 .nav-menu-icon.active a, .nav-menu-icon a.active, .nav-menu-icon:hover a, .nav-menu-icon a:hover, .nav-menu ul.nav-menu-inner li.active a, .nav-menu ul.nav-menu-inner li a.active, .nav-menu ul.nav-menu-inner li:hover a, .nav-menu ul.nav-menu-inner li a:hover, .header-fixed .nav-menu ul.nav-menu-inner li a.current, .header-fixed .nav-menu ul.nav-menu-inner li.current a {
     color: #fdca4a;
     text-decoration: none;
}
 @media all and (max-width: 991px) {
     .nav-menu ul.nav-menu-inner li {
         display: block;
         width: 100%;
    }
     .nav-menu {
         position: fixed;
         top: 85px;
         left: 0;
         float: none;
         display: block;
         width: 100%;
         background: #333;
         overflow-y: auto;
         display: none;
         z-index: 999;
    }
     .header-fixed .nav-menu{
         top: 55px;
    }
     .nav-menu-icon, .header-fixed .nav-menu-icon {
         display: inline-block;
         float: right;
    }
     .nav-menu ul.nav-menu-inner li a, .header-fixed .nav-menu ul.nav-menu-inner li a {
         padding: 20px 12px;
         border-top: 1px solid #444;
    }
     .nav-menu ul.nav-menu-inner {
         margin: 0;
    }
     .header-fixed .nav-menu ul.nav-menu-inner {
         margin: 0;
    }
     .logo {
         padding: 0;
    }
}
/*-------------------------------------------------------------------------------------------*/
/* mainslider ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 .mainslider-content {
     text-align: center;
}
 h2.mainslider-title {
     color: #ffffff;
     text-transform: capitalize;
     font-size: 40px;
}
 @media only screen and (max-width: 768px) {
     h2.mainslider-title {
         padding-top: 0;
    }
}
 h1.mainslider-subtitle {
     color: #fdca4a;
     font-weight: 900;
     font-size: 50px;
}
 h2.mainslider-text {
     color: #fff;
     font-weight: normal;
     text-transform: capitalize;
     margin: 0;
}
 p.mainslider-text {
     font-size: 40px;
     color: #ffffff;
     font-weight: normal;
}
 @media only screen and (max-width: 991px) {
     h1.mainslider-subtitle {
         font-size: 35px;
    }
     h2.mainslider-text {
         font-size: 30px;
    }
     p.mainslider-text {
         font-size: 25px;
    }
     .slider-btn > a {
         margin-bottom: 15px;
    }
}
/*-------------------------------------------------------------------------------------------*/
/* about me ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 h1.main-title:after {
     height: 3px;
     width: 60px;
     content: "";
     background: #fdca4a;
     display: block;
     position: relative;
     top: 10px;
     margin: 0 auto;
     text-align: center;
}
 h1.main-title {
     font-weight: 600;
     text-align: center;
     width: 100%;
     display: inline-block;
     color: #333;
     margin: 0;
}
 .about-me h2.sub-title {
     color: #565656;
}
 .about-me ul {
     overflow: hidden;
     list-style: none;
     padding-left: 0;
}
 .about-me ul li {
     float: left;
     padding: 0 3px;
     font-size: 15px;
     text-transform: uppercase;
     color: #565656;
     font-weight: 700;
}
 .about-me ul li:after{
     content: " | ";
     font-size: 16px;
     color: #565656;
     top: 0;
     left: 0;
}
 .about-me ul li:first-child {
     padding-left: 0;
}
 .about-me ul li:last-child {
     padding-right: 0;
     border-right: none;
}
 .about-me ul li:last-child:after {
     content: "";
}
 .about-me p {
     text-align: justify;
}
/*-------------------------------------------------------------------------------------------*/
/* Services ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 .service h1.main-title {
     color: #fff;
}
 .services {
     text-align: center;
     background: #000;
     overflow: hidden;
     position: relative;
}
 @media only screen and (max-width: 991px) {
     .services {
         padding-left: 0;
         padding-right: 0;
    }
     .services h3.sub-title {
         font-size: 20px;
    }
}
 @media only screen and (max-width: 767px) {
     .services {
         margin-bottom: 1em;
         padding: 60px;
    }
}
 .services h3.sub-title {
     color: #fff;
}
 .services:hover .s-overlay {
     opacity: 1;
}
 .s-overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     padding: 35px 20px 20px;
     color: #fff;
     opacity: 0;
     transition: .5s ease;
     background:#000;
     text-align: center;
}
 .s-overlay p {
     color: #ffffff;
     margin-bottom: 0;
     line-height: normal;
}
/*-------------------------------------------------------------------------------------------*/
/* Achievements ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 .achivements h1.main-title {
     text-align: center;
     width: 100%;
     color: #333;
}
 .achivements h1.main-title:after {
     background: #ffffff;
}
 .achievement {
     text-align: center;
}
 .achievement p {
     margin-bottom: 0;
     text-transform: uppercase;
     color: #1c1c1c;
     font-size: 15px;
}
 .achievement h6.subject {
     margin: 0;
}
 @media only screen and (max-width: 991px) {
     .achievement {
         margin-bottom: 20px;
    }
}
/* Portfolio (Isotop Grid, box, etc...) --------------------------*/
 .portfolio-section h1.main-title {
     color: #333;
}
 .portfolio-grid-fit .portfolio-item {
     position: relative;
     float: left;
     height: auto;
     padding: 0px;
     background: #888;
     color: #262524;
     display: block;
}
 .portfolio-box {
     position: relative;
     overflow: hidden;
}
 .portfolio-box .portfolio-image-wrap {
     display: block;
     transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
}
 .portfolio-box .portfolio-image-wrap img {
     width: 100%;
}
 .portfolio-box .portfolio-caption {
     opacity: 0;
     visibility: hidden;
     background-color: #fff;
     height: calc(100% - 20px);
     width: calc(100% - 20px);
     left: 10px;
     top: 10px;
     padding: 20px;
     position: absolute;
     transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     z-index: 9;
     transform: scale(0.5);
     -o-transform: scale(0.5);
     -moz-transform: scale(0.5);
     -ms-transform: scale(0.5);
     -webkit-transform: scale(0.5);
     transition-delay: 0s;
     -o-transition-delay: 0s;
     -moz-transition-delay: 0s;
     -webkit-transition-delay: 0s;
}
 .portfolio-box:hover .portfolio-caption {
     opacity: 1;
     visibility: visible;
     transform: scale(1);
     -o-transform: scale(1);
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -webkit-transform: scale(1);
     transition-delay: 0.08s;
     -o-transition-delay: 0.08s;
     -moz-transition-delay: 0.08s;
     -webkit-transition-delay: 0.08s;
}
 .portfolio-box .portfolio-caption .portfolio-caption-tb {
     height: 100%;
     width: 100%;
     display: table;
}
 .portfolio-box .portfolio-caption .portfolio-caption-tb-cell {
     display: table-cell;
     vertical-align: middle;
     padding: 30px;
     color: #333;
     text-align: center;
}
 @media (max-width: 991px) {
     .portfolio-box .portfolio-caption .portfolio-caption-tb-cell {
         padding: 0;
    }
}
 .portfolio-box .portfolio-caption p {
     margin-bottom: 20px;
}
 ul.portfolio-btn-wraper, .portfolio-btn-wraper {
     list-style: none;
     padding: 0px;
     margin-top: 5px;
}
 ul.portfolio-btn-wraper li {
     display: inline-block;
     margin: 0px 0px;
}
 ul.portfolio-btn-wraper .btn {
     display: inline-block;
     height: 32px !important;
     width: 32px !important;
     line-height: 28px !important;
     font-size: 14px;
     padding: 0px !important;
     text-align: center;
}
 ul.portfolio-btn-wraper .btn i, .portfolio-btn-wraper .btn i {
     margin-left: 0px;
     margin-right: 0px;
}
/* Portfolio Filter */
 .portfolio-filter {
     text-align: center;
     width: 100%;
     padding-left: 0;
}
 .portfolio-filter li {
     display: inline-block;
     list-style: none;
}
 .portfolio-filter li a {
     display: block;
     color: #fff;
     font-size: 13px;
     line-height: 1;
     padding: 10px 12px;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     border: 2px solid #ffffff;
}
 .portfolio-filter li a.active {
     color: #000;
     border: 2px solid #fdca4a;
}
/* Testimonials ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 .testimonials h1.main-title {
     text-align: center;
     width: 100%;
     color: #333;
}
 .testimonials h1.main-title:after {
     background: #fff;
}
 .testimonial-carousel {
     margin-bottom: 0;
}
 @media only screen and (max-width: 991px) {
     .testimonial-carousel {
         padding: 0 1em;
    }
}
 h6.quote-author {
     text-transform: capitalize;
     margin-bottom: 5px;
}
 .testimonial-carousel .owl-controls {
     padding-bottom: 25px;
}
 .testimonial-carousel .owl-page span {
     width: 10px !important;
     height: 10px !important;
}
/* Home Blogs ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 .blogs h1.main-title {
     text-align: center;
     width: 100%;
     color: #333;
}
 .blog-img img {
     width: 100%;
}
 .features-title {
     margin-bottom: 0px;
}
 .post-meta a {
     font-weight: bold;
     color: #000;
}
 .post-meta a:hover
 {
     color: #fdca4a;
 }
.tlinks {text-indent: -9999px;height: 0;line-height: 0;font-size: 0;overflow: hidden;}
 .content-box p {
     margin-bottom: 0;
}
/*inner pages ===================================== 
/* Breadcrumbs ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
 .breadcrumbs {
     padding-top: 95px;
}
 .breadcrumbs h1.main-title {
     width: 100%;
     text-align:center;
     margin-bottom: 0;
     margin-top: 20px;
}
 .breadcrumbs h1.main-title:after {
     background: none;
}
 .page-breadcrumb {
     display: inline-block;
     width: 100%;
     text-align: center;
     margin-bottom: 20px;
     text-transform: capitalize;
     color: #333;
}
 .page-breadcrumb a {
     text-transform: capitalize;
     padding-right: 5px;
}
 .page-breadcrumb span {
     padding: 0 5px;
     color: #000;
}
/* ----------------------------------------------------------------------*/
/* Sidebar Widget ---------------------------------------------------- */
/* ----------------------------------------------------------------------*/
 .sidebar-widget {
     margin-bottom: 40px;
}
 @media only screen and (max-width: 767px) {
     .right-sidebar {
         margin-top: 4em;
    }
}
 .sidebar-widget h4 {
     padding-top: 0;
     margin-bottom: 40px;
}
 .sidebar-widget h4:after {
     height: 3px;
     width: 60px;
     content: "";
     background: #fdca4a;
     display: block;
     position: relative;
     top: 15px;
}
 .widget-search {
     position: relative;
}
 .widget-search input[type="text"] {
     padding-right: 30px;
}
 .widget-search input[type="submit"] {
     background-color: rgba(0,0,0,0);
     border: 0 none;
     color: #1c1c1c;
     cursor: pointer;
     display: inline-block;
     float: right;
     font-family: "FontAwesome",sans-serif;
     margin: 0;
     outline: 0 none;
     white-space: nowrap;
     padding: 3px;
     text-decoration: none;
     transition: all 0.25s ease 0s;
     -moz-transition: all 0.25s ease 0s;
     -o-transition: all 0.25s ease 0s;
     -webkit-transition: all 0.25s ease 0s;
     position: absolute;
     top: 10px;
     right: 10px;
}
 .widget-search input[type="submit"]:hover {
     color: #333333;
}
 .widget-search input[type="submit"]:focus {
     color: #333333;
}
 .widget-search .search-form button.btn.btn-default {
     position: absolute;
     right: 5px;
     top: 14px;
     font-size: 16px;
     padding: 0;
     background: none;
     border: 0;
     color: #999;
}
 .sidebar-widget hr {
     margin-bottom: 15px;
}
 .sidebar-widget ul {
     margin: 0px;
     padding: 0px;
}
 .sidebar-widget ul li {
     list-style: none;
     font-weight: 400;
}
 .sidebar-widget ul li a {
     display: inline-block;
     padding: 5px 0px;
     font-weight: 500;
}
 .sidebar-widget ul li:first-child a {
     padding-top: 0;
}
 .sidebar-widget ul li a i.fa {
     margin-right: 10px;
}
 .sidebar-widget ul li span.count {
     float: right;
     text-align: right;
     font-weight: 500;
}
 .sidebar-widget ul li a:hover {
     color: #e6ae49;
     text-decoration: none;
}
 .widget-tag {
     display: inline-table;
     margin-top: 15px;
}
 .widget-tag li {
     float: left;
     margin-bottom: 5px;
     margin-right: 5px;
     text-transform: uppercase;
}
 .widget-tag li a {
     padding: 10px 12px !important;
     display: block;
     border: 1px solid #dddddd;
     text-transform: capitalize;
}
 .widget-tag li a:hover {
     background: #323232;
     color: #fff !important;
}
 .sidebar-widget .widget-post {
     position: relative;
}
 .sidebar-widget .widget-post .widget-post-media {
     width: 100px;
     display: table-cell;
     padding: 0 10px 0 0;
}
 .sidebar-widget .widget-post li {
     margin-bottom: 20px;
}
 .sidebar-widget .widget-post a {
     padding: 0px;
}
 .sidebar-widget .widget-post .widget-post-media img, .sidebar-widget .widget-post .widget-post-media video {
     width: 100%;
     vertical-align: top;
}
 .sidebar-widget .widget-post .widget-post-info {
     display: table-cell;
     vertical-align: top;
}
 .sidebar-widget .widget-post .widget-post-info h5, .sidebar-widget .widget-post .widget-post-info h6 {
     margin-bottom: 5px;
     text-transform: capitalize;
}
 .sidebar-widget .widget-post .widget-post-info p {
     margin: 0px;
}
/* ----------------------------------------------------------------------*/
/* Blog --------------------------------------------------------- */
/* ----------------------------------------------------------------------*/
 .blog-post {
     display: inline-block;
     width: 100%;
}
 .blog-post .post-media {
     position: relative;
     overflow: hidden;
     margin-bottom: 15px;
}
 .blog-post .post-media iframe {
     width: 100%;
}
 .blog-post .post-meta, .comment-list .post-meta {
     text-transform: capitalize;
     padding: 10px 0;
}
 .blog-post .post-entry p {
     margin-bottom: 0;
}
 .sidebar-widget .post-meta {
     padding: 0;
}
 .blog-post .post-meta span, .comment-list .post-meta span {
     margin-right: 3px;
}
 .blog-post .post-header h5, .blog-post .post-header h4, .blog-post .post-header h3 {
     margin: 0;
}
 .blog-post .post-header h2 {
     margin: 0px;
}
 .blog-post .post-entry {
     margin-bottom: 0px;
}
 .blog-post .post-entry p {
     margin: 0;
     text-align: justify;
}
 .sinngle-blog .blog-post .post-entry p {
     margin: 0 0 10px;
     text-align: left;
}
 .blog-post .post-entry blockquote, .post-entry ul {
     margin-bottom: 15px;
}
 .blog-post .post-tag {
     color: #999;
     text-transform: uppercase;
     margin-top: 15px;
}
 .blog-post .post-tag span {
     margin-right: 5px;
     border: 1px solid #ddd;
     padding: 10px 12px;
     text-transform: capitalize;
}
 .blog-post blockquote {
     font-size: 16px;
     padding: 15px 0px;
     color: #444444;
     font-weight: 500;
     font-style: italic;
     margin:0 0 0 26px;
}
 .blog-post blockquote:after {
     content: "";
     font-family: FontAwesome;
     padding-left: 7px;
     font-size: 20px;
}
 .blog-post blockquote:before {
     content: "";
     font-family: FontAwesome;
     padding-right: 7px;
     font-size: 20px;
}
 .blog-post-hr hr {
     margin-bottom: 45px;
}
 .post-author {
     display: inline-block;
     position: relative;
     margin-bottom: 40px;
}
 .post-author img {
     width: 80px;
}
 .post-author .post-author-details {
     margin-left: 20px;
}
 .post-author h6 {
     margin-top: 0px;
}
 .post-author ul.social {
     margin: 0px;
     padding: 0px;
     font-size: 16px;
}
 .post-author ul.social li {
     list-style: none;
     display: inline-block;
     margin: 0 5px;
}
 .post-comment {
}
 .post-comment .comment-numb {
     font-weight: 300;
}
 .post-comment .comment-list {
     margin-left: 0px;
     padding-right: 0px;
     list-style: none;
     padding: 0px;
}
 .post-comment .comment-list h6 {
     margin-top: 0px;
     margin-bottom: 3px;
     text-transform: capitalize;
}
 .post-comment .comment-list li:first-child {
     padding-top: 0px;
}
 .post-comment .comment-list .comment-sec > ul {
     padding-left: 0;
}
 .post-comment .comment-list li {
     padding-top: 15px;
     list-style: none;
}
 .post-comment .comment-list li, .post-comment .comment-list .comment-reply {
     position: relative;
}
 .post-comment .comment-list .comment-detail {
     overflow: hidden;
}
 .post-comment .comment-list .comment-reply {
     padding: 15px 0 0 75px;
}
 .post-comment .comment-list .comment-reply-btn i {
     padding-right: 3px;
}
 .post-comment .comment-avatar {
     margin-right: 15px;
     width: 60px;
     float: left;
}
 .post-comment .comment-avatar img {
     width: 100%;
}
 .post-comment-star .star-rat {
     display: inline-block;
}
 .post-comment-star label {
     margin-right: 6px;
}
/* ----------------------------------------------------------------------*/
/* Pagination Navigation --------------------------------------------- */
/* ----------------------------------------------------------------------*/
 .pagination-nav {
     width: 100%;
     display: block;
     position: relative;
     text-align: center;
     border-top: 1px solid #ddd;
}
 .pagination-nav ul {
     margin: 0px;
     padding: 0px;
}
 .pagination-nav ul li {
     display: inline-block;
     margin: 0px 2px;
}
 .pagination-nav ul li a {
     display: block;
     background-color: #ffffff;
     height: 36px;
     width: 36px;
     line-height: 36px;
     text-align: center;
     font-size: 14px;
     border:1px solid #ddd;
}
 .pagination-nav ul li.active a {
     background: #fdca4a;
     color: #000;
     border: 1px solid #fdca4a;
}
/* ----------------------------------------------------------------------*/
/* Hire Me --------------------------------------------------------- */
/* ----------------------------------------------------------------------*/
 .hire-me h1.main-title:after {
     text-align: left;
     margin: 0;
}
 ul.my-service {
     padding-left: 0;
     overflow: hidden;
     margin-bottom: 15px;
}
 ul.my-service li {
     float: left;
     padding: 0 3px;
     font-size: 15px;
     text-transform: uppercase;
     color: #565656;
     font-weight: 700;
     position: relative;
     list-style: none;
}
 ul.my-service li:after{
     content: " | ";
     font-size: 16px;
     color: #565656;
     top: 0;
     left: 0;
}
 ul.my-service li:first-child {
     padding-left: 0;
}
 .hire-me p {
     text-align: justify;
     margin-bottom: 7px;
}
 ul.my-service li:last-child {
     border-right: none;
}
 ul.my-service li:last-child:after {
     content: "";
}
 .work-skill {
     text-align: center;
     width: 100%;
     display: inline-block;
     position: relative;
}
@media only screen and (max-width: 991px) {
 .work-skill{
     margin-top: 15px;
 }
}

 .work-progress {
     position: absolute;
     left: 0;
     right: 0;
     display: inline-block;
     text-align: center;
     font-size: 20px;
     transform: translate(0, -50%);
     top: 50%;
     margin: 0 auto;
}
 .pricing {
     display: inline-block;
     text-align: center;
     vertical-align: middle;
}
 .pricing span {
     text-transform: uppercase;
     font-weight: 500;
}
 h6.skill {
     text-align: center;
     font-weight: 600;
     margin-top: 15px;
     margin-bottom: 0;
}
 .pricing h2 {
     margin: 0 0 15px 0;
}
 .hireme {
     display: inline-block;
     text-align: center;
     text-transform: lowercase;
}
 .hireme span {
     margin: 0 1.2em;
}
 .hire-contact {
     display: inline-block;
     text-align: center;
}
 .hire-contact a {
     text-transform: uppercase;
     font-weight: 600;
     text-decoration: underline;
}
 .ltr-expe-sec {
     writing-mode: tb-rl;
     text-orientation: unset;
     float: left;
     background: #fdca4a;
     margin-right: 20px;
     font-weight: 500;
     color: #333;
     font-size: 20px;
     padding: 10px;
     white-space: nowrap;
}
 .exp-hire-section.even .ltr-expe-sec {
     float: right;
     margin: 0;
}
 .rlr-expe-sec h5 {
     color: #999;
     margin-bottom: 4px;
}
 .rlr-expe-sec h1 {
     font-size: 28px;
}
 @media only screen and (max-width: 991px) {
     .rlr-expe-sec h2 {
         font-size: 15px;
    }
     .rlr-expe-sec h1 {
         font-size: 22px;
         margin-bottom: 0;
    }
     .ltr-expe-sec{
         writing-mode: horizontal-tb;
         text-orientation: inherit;
         float: none;
         margin: 0;
         white-space: inherit;
         text-align: center;
    }
     .rlr-expe-sec {
         padding: 0 1em;
    }
     .exp-hire-section.odd p {
         padding: 15px;
    }
}
 @media only screen and (max-width: 767px) {
     .exp-hire-section.odd p {
         padding: 0 15px 15px;
    }
}
 .hire-exeperiance-section h1.main-title {
     text-align: center;
     width: 100%;
}

 .exp-hire-section {
     background: #fff;
}
 .exp-hire-section p {
     padding-right: 20px;
     text-align: justify;
     margin-bottom: 0;
}
 .exp-hire-section.even p {
     padding-left: 1em;
}
 .rlr-expe-sec p.large
{
    color: #999;
    margin-bottom: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
}
 .client h1 {
     text-align: center;
     width: 100%;
}
 .client-logo {
     text-align: center;
     border-right: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
     padding: 2em;
     min-height: 105px;
}
 .client-logo img {
     width: 100%;
}
 @media only screen and (max-width: 991px) {
     .client-logo {
         border: none;
    }
}
 .client-logo.last {
     border-bottom: none;
}
 .client-logo.last-section {
     border-right: none;
}
 @media only screen and (max-width: 991px) {
     .hireme .btn-lg {
         padding: 10px 15px !important;
         display: inline-block;
         font-size: 12px;
         margin-top: 15px;
    }
}
 @media only screen and (max-width: 767px){
     .hireme .btn-lg {
         padding: 14px 30px !important;
         display: inline-block;
         font-size: 14px;
         margin-top: 15px;
    }
}
/* Contact Form, Map, contact-info ||--------------------------- */
/* form */
 .contact-section h1.main-title {
     color: #ffffff;
}
 .address-info {
     overflow: hidden;
     text-align: left;
}
 .icon-left {
     display: inline-block;
     margin-right: 10px;
     background: #fdca4a;
     padding: 6px 7px;
     color: #000;
     vertical-align: middle;
     text-align: center;
}
 .icon-text {
     display: inline-block;
     color: #fdca4a;
     font-weight: 500;
     vertical-align: middle;
}
 .icon-text p {
     color: #fff;
     margin-bottom: 0;
}
 .contact-form textarea {
     min-height: 165px;
     resize: none;
     overflow: auto;
}
 .contact-form .btn-contact-submit {
     float: left;
}
 .contact-form input,.contact-form textarea {
     background: rgba(0,0,0,0.6);
     color: #fff;
}
/* map */
 .map {
     height: 400px;
     width: 100%;
}
/* contact-info */
 .contact-link a {
     margin-bottom: 5px;
     display: inline-block;
}
/* Preloader ||-------------------------------*/
 #preloader {
     background-color: rgba(255, 255, 255, 1);
     bottom: 0;
     display: block;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     z-index: 99999999999;
}
 .site-spinner {
     width: 80px;
     height: 80px;
     border: 2px solid #dddddd;
     border-top:3px solid #fdca4a;
     border-radius: 100%;
     position: absolute;
     top:0;
     bottom:0;
     left:0;
     right: 0;
     margin: auto;
     animation: spin 1s infinite linear;
}
 @keyframes spin {
     from{
         transform: rotate(0deg);
    }
     to{
         transform: rotate(360deg);
    }
}
/*Footer ||--------------------------*/
/*Footer Logo*/
 .footer-top {
     border-bottom: 1px solid #333;
}
 .my-profile-title {
     display: inline-block;
     margin-right: 14px;
}
 .my-profile-title p {
     margin-bottom: 0;
     text-transform: uppercase;
     font-size: 20px;
     line-height: 30px;
     font-weight: 700;
}
 .my-profile-title p.footer-author {
     font-size: 30px;
     color: #fdca4a;
     font-weight: 900;
}
 .my-profile-description {
     display: inline-block;
     font-size: 18px;
     vertical-align: bottom;
     color: #ffffff;
}
 p.copyright {
     margin-bottom: 0;
}
 p.copyright a {
     color: #fdca4a;
}
/* Social */
 .footer .social {
     list-style: none;
     margin: 15px 0 0 0;
     text-align: right;
}
 @media only screen and (max-width: 767px) {
     .footer .social {
         text-align: center;
         margin: 0;
         padding-left: 0;
    }
     .my-profile {
         padding-bottom: 30px;
    }
     p.copyright {
         text-align: center;
    }
     .my-profile-description {
         margin-top: 15px;
    }
}
 @media only screen and (max-width: 525px) {
     .my-profile {
         text-align: center;
    }
}
 .footer .social li {
     list-style: none;
     display: inline-block;
     margin: 0 2px;
}
 .footer .social li a {
     height: 36px;
     width: 36px;
     display: block;
     font-size: 16px;
     text-align: center;
     line-height: 32px;
     color: #fff;
}
 .footer .social li:hover a {
     color: #fdca4a;
}
/* ----------------------------------*/
/* Scroll Top Arrow */
/* ----------------------------------*/
 .scroll-top {
     width: 40px;
     height: 40px;
     line-height: 40px;
     position: fixed;
     bottom: 20px;
     right: 23px;
     text-align: center;
     font-size: 20px;
     background: #fdca4a;
     color: #333;
     z-index: 99;
     display: none;
     transition: none;
     -o-transition: none;
     -moz-transition: none;
     -webkit-transition: none;
}
 .scroll-top:hover {
     text-decoration: none;
     color: #000;
     opacity: 0.6;
}
 @media (max-width: 768px) {
     .scroll-top {
         opacity: 0;
         visibility: hidden;
    }
}
