<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config/>
    <context:property-placeholder/>

    <aop:config proxy-target-class="true">
        <aop:aspect id="va" ref="validateAspect">
            <aop:pointcut id="vaPointcut"
                          expression="@annotation(org.rx.util.validator.EnableValid) or @within(org.rx.util.validator.EnableValid)"/>
            <aop:around pointcut-ref="vaPointcut" method="doAround"/>
        </aop:aspect>
    </aop:config>
    <bean id="validateAspect" class="org.rx.util.validator.ValidateUtil"/>
</beans>
