<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <!--    <springProperty scope="context" name="appName" source="spring.application.name" default="RxSocks"/>-->
    <property name="logLevel" value="DEBUG"/>
    <property name="logPath" value="./logs"/>
    <property name="appName" value="RxSocks"/>
    <property name="days" value="2"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%yellow(%d{HH:mm:ss.SSS}) %highlight(%-5p) %magenta([%t]) %cyan(%c) - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${appName}_info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${appName}_info.%d{yyyyMMdd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${days}</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d %-5p [%t] %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="org.rx.core.ThreadPool" level="INFO"/>
    <!--    <logger name="org.rx.net" level="DEBUG"/>-->
    <!--    <logger name="org.rx.net.socks.Socks5UdpRelayHandler" level="DEBUG"/>-->

    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="infoAppender"/>-->
    </root>
</configuration>
