<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>404-小范省钱</title>
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />
<link href="/404/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/404/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div class="error_main">
	<div class="content">
		<h1>404</h1>
			<div class="error_content">
				<span class="fa fa-frown-o"></span>
				<h2>对不起，页面不存在！</h2>
				<p>请联系管理员it@f-li.cn处理.</p>
				<form action="#" method="post">
					<input class="serch" type="search" name="serch" placeholder="查找内容" required="">
					<button class="btn1"><i class="fa fa-search" aria-hidden="true"></i></button>
					<div class="clear"></div>
				</form>
				<a class="b-home" href="http://f-li.cn">回到首页</a>
			</div>
		<div class="footer">
		 <p>Copyright &copy; 2018.小范 name All rights reserved.</p>
		</div>
	</div>
</div>
</body>
</html>
