<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <meta name="keywords" content="小范儿内部购,返现机器人,小范省钱"/>
    <meta name="description" th:content="${intro}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="/img/favicon.ico"/>
    <link rel="apple-touch-icon" href="/img/favicon.ico"/>
    <!-- Css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/css/plugins/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.3.0/jquery.easing.1.3.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/js/plugins/jquery.appear.js"></script>
    <script src="/js/plugins/jquery.countTo.js"></script>
    <script src="/js/plugins/owl.carousel.min.js"></script>
    <script src="/js/plugins/circle-progress.js"></script>
    <script src="/js/plugins/jquery.singlePageNav.min.js"></script>
    <script src="/js/plugins/jquery.validate.min.js"></script>
</div>

<div th:fragment="footer">
    <div class="container">
        <div class="footer-top ptb-50">
            <div class="row">
                <div class="col-md-6">
                    <!-- author-description -->
                    <div class="my-profile">
                        <div class="my-profile-title">
                            <p>&nbsp;</p>
                            <p class="footer-author">小范儿内部购</p>
                        </div>
                        <div class="my-profile-description">
                            一个购物省钱返现金利器
                        </div>
                    </div>
                    <!-- Copyright -->
                </div>
                <div class="col-md-6">
                    <ul class="social">
                        <li><img src="/img/wxlogo.png" width="28" height="28"/> 扫描二维码关注我们</li>
                        <li><img src="/img/qrcode.jpg" width="120" height="120"/></li>
                    </ul>

                    <!-- Social -->
                    <!--<ul class="social">-->
                    <!--<li>-->
                    <!--<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!-- End Social -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top-->
    <div class="footer-bottom ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">Copyright &copy; 2018.f-li.cn All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!--footer bottom-->
</div>
</body>
</html>
