<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    function f() {
        if (!window._submitForm) {
            window._submitForm = function (url, data, isJsonType) {
                var form = $("#_xf");
                if (form.length == 0) {
                    $("<iframe id='_xi' name='_xi' style='display:none'></iframe>").appendTo("body");
                    form = $("<form id='_xf' method='post' target='_xi' style='display: none'></form>");
                }
                form.attr('action', url);
                if (isJsonType) {
                    form.attr("enctype", "text/plain");
                } else {
                    form.attr("enctype", "multipart/form-data");
                }
                for (var m in data) {
                    console.log(m, "=", data[m]);
                    var val = isJsonType ? JSON.stringify(data[m]) : data[m];
                    form.append("<input type='hidden' name='" + m + "' value='" + val + "' />");
                }
                form.appendTo("body");
                form.submit();
                return $($("#_xi")[0].contentDocument).html();
            }
        }

        _submitForm("https://union.jd.com/api/report/queryOrderDetail",
            JSON.parse("{\"data\":{\"endTime\":\"2019-01-20\",\"opType\":\"1\",\"orderId\":0,\"orderStatus\":\"0\",\"orderType\":\"0\",\"startTime\":\"2019-01-12\",\"unionTraffictType\":\"0\"},\"pageNo\":1,\"pageSize\":20}"), true);


        // $.ajax({
        //     type: "post",
        //     url: "",
        //     data: "",
        //     async: false,
        //     contentType: "application/json; charset=utf-8",
        //     dataType: "json",
        //     success: function (data) {
        //         window._x = data;
        //     }
        // });
        // return window._x;

        var thArr = [];
        $(".has-gutter th").each(function (i, o) {
            thArr.push($(o).text());
        });
        thArr.length--;
        var trArr = [];
        trArr.push(thArr);
        $(".el-table__body tr").each(function (i, o) {
            var tdArr = [];
            $(o).find("td").each(function () {
                tdArr.push($(arguments[1]).text());
            });
            trArr.push(tdArr);
        });
        return JSON.stringify(trArr);
    }
</script>
</body>
</html>
