<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    function f() {
        if (!window._submitForm) {
            window._submitForm = function (url, data, isJsonType) {
                var form = $("#_xf");
                if (form.length == 0) {
                    $("<iframe id='_xi' name='_xi' style='display:none'></iframe>").appendTo("body");
                    form = $("<form id='_xf' method='post' target='_xi' style='display: none'></form>");
                }
                form.attr('action', url);
                if (isJsonType) {
                    form.attr("enctype", "text/plain");
                } else {
                    form.attr("enctype", "multipart/form-data");
                }
                for (var m in data) {
                    console.log(m, "=", data[m]);
                    var val = isJsonType ? JSON.stringify(data[m]) : data[m];
                    form.append("<input type='hidden' name='" + m + "' value='" + val + "' />");
                }
                form.appendTo("body");
                form.submit();
                return $($("#_xi")[0].contentDocument).html();
            }
        }

        _submitForm("https://union.jd.com/api/report/queryOrderDetail",
            JSON.parse("{\"data\":{\"endTime\":\"2019-01-20\",\"opType\":\"1\",\"orderId\":0,\"orderStatus\":\"0\",\"orderType\":\"0\",\"startTime\":\"2019-01-12\",\"unionTraffictType\":\"0\"},\"pageNo\":1,\"pageSize\":20}"), true);
    }

    function tb_getMoney() {
        $('.box-btn-left:eq(0)').click();
        var result = [], offset = 0;
        for (var i = 0; i < 3; i++) {
            var index = offset + i;
            result.push($('.number-16:eq(' + index + ')').text());
        }
        return result.toString();
    }

    function jd_login() {
        var doc = $("#indexIframe")[0].contentDocument;
        $("#loginname", doc).val("17091916400");
        $("#nloginpwd", doc).val(window.atob("amluamluJlI0ZXZlcg=="));
        $("#paipaiLoginSubmit", doc).click();
    }

    function jd_orders() {
        $.ajax({
            type: "post",
            url: "https://union.jd.com/api/report/queryOrderDetail",
            data: JSON.stringify({
                "data": {
                    "endTime": "2019-01-29",
                    "opType": "1",
                    "orderId": 0,
                    "orderStatus": "0",
                    "orderType": "0",
                    "startTime": "2019-01-01",
                    "unionTraffictType": "0"
                }, "pageNo": 1, "pageSize": 1000
            }),
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                window._callbackValue = data;
            }
        });
        return JSON.stringify(window._callbackValue);
    }
</script>
</body>
</html>
