<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
<body>
    <!-- Site preloader -->
    <section id="preloader">
        <div class="site-spinner"></div>
    </section>
    <!-- End Site preloader -->
    <!-- Page Wraper -->
    <div id="page-wraper">
        <div class="wrapper">
            <!-- Header -->
            <div id="header" class="header">
                <div class="header-inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="/img/logo.png" alt="logo" style="width: 24px;margin: -8px 0 0 0;" />
                            <span style="color: #FDCA4A; font-size: 22px;font-weight: bold;">小范儿内部购</span>
                        </a>
                    </div>
                    <!-- End Logo -->
                    <!--Navigation Icon-->
                    <div class="nav-menu-icon">
                        <a><i class="fa fa-bars"></i></a>
                    </div>
                    <!--End Navigation Icon-->
                    <!-- Navigation Menu -->
                    <div class="nav-menu singlepage-nav">
                        <ul class="nav-menu-inner">
                            <li><a href="#main-slider-section">首页</a></li>
                            <li><a href="#service-section">返现网站</a></li>
                            <li><a href="#testimonials-section">用户评价</a></li>
                            <li><a href="#blog-section">小范资讯</a></li>
                            <li><a href="#contct-info">联系我们</a></li>
                            <li><a href="#about-me-section" class="btn-border">关注我们</a></li>
                        </ul>
                    </div>
                    <!-- End Navigation Menu -->
                </div>
            </div>
            <!-- End Header -->

            <!--Intro Section-->
            <section id="main-slider-section" class="main-slider bg-image ptb-60 clearfix overlay-dark80" data-background-img="img/haibao.jpg" data-bg-position="right bottom">
                <div class="mainslider-content ptb-70">
                    <div class="mainslider-content-inner">
                        <h2 class="mainslider-title mb-15 pt-85">您好！我是</h2>
                        <h1 class="mainslider-subtitle mb-10">小范儿内部购</h1>
                        <p class="mainslider-text">一个购物省钱返现金利器</p>
                        <div class="slider-btn mt-35">
                            <a class="btn btn-lg btn-color mlr-10" href="#about-me-section">关注我们</a>
                            <!--<a class="external-link btn btn-lg btn-white mlr-10" href="invite.html" target="_blank">关注我们</a>-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Intro Section-->

            <!-- about-me section-->
            <section id="about-me-section" class="about-me section-padding parallex-bg clearfix" data-background-img="img/full/about_bg.jpg" data-bg-position="center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-15">关注我们</h2>
                            <ul class="experiance mb-15">
                                <li>内部优惠购</li>
                                <li>返现拿现金</li>
                            </ul>
                            <p class="mb-20" th:text="${intro}"></p>
                            <!--<div class="row">-->
                                <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                                    <!--<div class="work-skill design">-->
                                        <!--<strong class="work-progress"></strong>-->
                                    <!--</div>-->
                                    <!--<h6 class="skill">支持京东</h6>-->
                                <!--</div>-->
                                <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                                    <!--<div class="work-skill html">-->
                                        <!--<strong class="work-progress"></strong>-->
                                    <!--</div>-->
                                    <!--<h6 class="skill">支持淘宝</h6>-->
                                <!--</div>-->
                                <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                                    <!--<div class="work-skill code">-->
                                        <!--<strong class="work-progress"></strong>-->
                                    <!--</div>-->
                                    <!--<h6 class="skill">支持天猫</h6>-->
                                <!--</div>-->
                                <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                                    <!--<div class="work-skill php">-->
                                        <!--<strong class="work-progress"></strong>-->
                                    <!--</div>-->
                                    <!--<h6 class="skill">支持飞猪</h6>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row" style="margin: 36px 0 0 0;font-weight: bold; line-height: 28px">
                                <img src="/img/wxlogo.png" width="28" height="28"/> 扫描二维码关注我们
                            </div>
                            <div class="row">
                                <img src="/img/qrcode.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end of about-me section-->

            <!-- service-section-->
            <section id="service-section" class="service section-padding parallex-bg clearfix overlay-dark" data-background-img="img/full/service_bg.jpg" data-bg-position="center">
                <div class="container text-center">
                    <h1 class="main-title pb-60">返现网站</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services p-60">
                                <img src="/img/pt0.png" alt="">
                                <h3 class="sub-title mtb-15">京东</h3>
                                <div class="s-overlay">
                                    <img src="/img/pt0.png" alt="">
                                    <h3 class="sub-title mtb-15">京东</h3>
                                    <p>支持京东自营和第三方商家，可以使用京券、东券、京豆和礼品卡抵扣.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services p-60">
                                <img src="/img/pt1.png" alt=""> <img src="/img/pt2.png" alt="">
                                <h3 class="sub-title mtb-15">淘宝 天猫</h3>
                                <div class="s-overlay">
                                    <img src="/img/pt1.png" alt=""> <img src="/img/pt2.png" alt="">
                                    <h3 class="sub-title mtb-15">淘宝 天猫</h3>
                                    <p>可以使用优惠券、淘金币和红包抵扣.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services p-60">
                                <img src="/img/pt3.png" alt="">
                                <h3 class="sub-title mtb-15">飞猪</h3>
                                <div class="s-overlay">
                                    <img src="/img/pt3.png" alt="">
                                    <h3 class="sub-title mtb-15">飞猪</h3>
                                    <p>可以使用优惠券、淘金币和红包抵扣.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end-service-section-->

            <!-- achivements-->
            <!--<section id="achivements-section" class="achivements section-padding clearfix yellow-bg">-->
                <!--<div class="container text-center">-->
                    <!--<h1 class="main-title pb-60">Some Interesting Facts</h1>-->
                <!--</div>-->
                <!--<div class="container">-->
                    <!--<div class="row">-->

                        <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                            <!--<div class="achievement">-->
                                <!--<h2 class="counter-num mb-15">215</h2>-->
                                <!--<p>Finished</p>-->
                                <!--<h6 class="subject">Projects</h6>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                            <!--<div class="achievement">-->
                                <!--<h2 class="counter-num mb-15">189</h2>-->
                                <!--<p>Happy</p>-->
                                <!--<h6 class="subject">Customers</h6>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                            <!--<div class="achievement">-->
                                <!--<h2 class="counter-num mb-15">871</h2>-->
                                <!--<p>Cofee</p>-->
                                <!--<h6 class="subject">Cups</h6>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 col-sm-6 col-lg-3">-->
                            <!--<div class="achievement">-->
                                <!--<h2 class="counter-num mb-15">584</h2>-->
                                <!--<p>Working</p>-->
                                <!--<h6 class="subject">Hours</h6>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</section>-->
            <!--achivements end-->
            <!-- portfolio-section-->
            <!--<section id="portfolio" class="section-padding portfolio-section">-->
                <!--<div class="container text-center">-->
                    <!--<h1 class="main-title pb-60">Work</h1>-->
                <!--</div>-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<ul class="portfolio-filter categories-filter mb-30">-->
                            <!--<li><a class="categories active" data-filter="*">All</a></li>-->
                            <!--<li><a class="categories" data-filter=".branding">Branding</a></li>-->
                            <!--<li><a class="categories" data-filter=".creative">Creative</a></li>-->
                            <!--<li><a class="categories" data-filter=".photography">Photography</a></li>-->
                            <!--<li><a class="categories" data-filter=".coffee">coffee</a></li>-->
                        <!--</ul>-->

                    <!--</div>-->
                    <!--<div class="portfolio-grid-fit row gallery-popup">-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 branding photography coffee">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/1.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>Banner Design</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 photography">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/2.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>Web Design</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 branding photography">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/3.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>Facebook page design</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 creative">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/4.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>Youtube Page Design</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 creative">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/5.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>E-commerce Design & Developement</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 branding photography ">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/6.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>BigCommerce</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 branding creative coffee">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/7.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>Shopify</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                        <!--<div class="portfolio-item col-lg-4 col-md-6 photography">-->
                            <!--<div class="portfolio-box">-->
                                <!--<a class="portfolio-image-wrap">-->
                                    <!--<img src="img/portfolio/thumb/8.jpg" alt="" /></a>-->
                                <!--<div class="portfolio-caption">-->
                                    <!--<div class="portfolio-caption-tb">-->
                                        <!--<div class="portfolio-caption-tb-cell">-->
                                            <!--<h5>Wordpress</h5>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;item&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
            <!-- end portfolio-section-->

            <!-- testimonials section-->
            <section id="testimonials-section" class="overlay-yellow parallex-bg testimonials section-padding" data-background-img="img/full/testimonial_bg.jpg" data-bg-position="center">
                <div class="container text-center">
                    <h1 class="main-title pb-60">用户怎么评价？</h1>
                </div>
                <div class="container">
                    <div class="owl-carousel testimonial-carousel white-bg">
                        <div class="item">
                            <div class="testimonial text-center max-width-700 pt-20">
                                <div class="page-icon-sm"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p>刷微信公众号时，无意刷出小范的一篇文章才知道有购物返利机器人这东东，加了以后各种了解；我只是发个链接了解一下，买了几样日常用品；几天后告诉我成功收货，并有返现。我就奇了怪了，难道这东东真能返红包？！</p>
                                <h6 class="quote-author">张远卿</h6>
                                <p class="small">知乎用户</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial text-center max-width-700 pt-20">
                                <div class="page-icon-sm"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p>微信淘宝返利机器人就是把商品的链接分享到微信上，然后你通过链接在淘宝上购买，一样的店铺一样的东西，不一样的是你能拿到一定的返利.</p>
                                <h6 class="quote-author">发灰</h6>
                                <p class="small">微信用户</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial text-center max-width-700 pt-20">
                                <div class="page-icon-sm"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p>返利机器人理论上是安全的，实测…我还怀疑过他是骗局，所以研究了一下…一些名为“省钱机器人”“机器人啊，省钱小助手”等的群体在网购群体中快速走红。用户在购物时只需其为好友，就几个简单命令，轻松实现淘宝购物及返利！ 到底这个是真是假的，好歹作为大学生的我，也是网购剁手一族，出现了这个好东西，自然乐意去试试，以身试验；就一句话：是真省钱啊 .</p>
                                <h6 class="quote-author">林庆</h6>
                                <p class="small">刚刚毕业的毕业生</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial text-center max-width-700 pt-20">
                                <div class="page-icon-sm"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p>我用的小范机器人一年多感觉挺不错的。返现也是及时到账，没出现过什么乱扣费之类的.</p>
                                <h6 class="quote-author">白色帆布鞋</h6>
                                <p class="small">在读大学生</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end of testimonials section-->

            <!-- start of blog section-->
            <section id="blog-section" class="blogs section-padding">
                <div class="container text-center">
                    <h1 class="main-title pb-60">小范资讯</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30">
                            <div class="blog-img mb-15"><img src="/img/haibao.jpg" alt=""></div>
                            <h4 class="features-title"><a th:href="${jdGuideUrl}" target="_blank">京东购物原来可以节省一笔钱！</a></h4>
                            <div class="post-meta ptb-10"><span>By <a>小范</a>,</span> <span>2018-12-25</span></div>
                            <p>小范儿内部购，京东、淘宝、天猫、飞猪和拼多多的商品以内部价拿优惠券购买，还能返现拿现金。返现提现当天到帐无手续费！京东购物原来可以节省一笔钱！</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30">
                            <div class="blog-img mb-15"><img src="/img/haibao.jpg" alt=""></div>
                            <h4 class="features-title"><a th:href="${tbGuideUrl}" target="_blank">小范告诉您，淘宝这样购物能省钱！</a></h4>
                            <div class="post-meta ptb-10"><span>By <a>小范</a>,</span> <span>2018-12-25</span></div>
                            <p>小范儿内部购，京东、淘宝、天猫、飞猪和拼多多的商品以内部价拿优惠券购买，还能返现拿现金。返现提现当天到帐无手续费！小范会告诉您，淘宝怎样购物才能省钱！</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30">
                            <div class="blog-img mb-15"><img src="/img/haibao.jpg" alt=""></div>
                            <h4 class="features-title"><a th:href="${fzGuideUrl}" target="_blank">小范告诉您，飞猪这样预订能省钱！</a></h4>
                            <div class="post-meta ptb-10"><span>By <a>小范</a>,</span> <span>2018-12-25</span></div>
                            <p>小范儿内部购，京东、淘宝、天猫、飞猪和拼多多的商品以内部价拿优惠券购买，还能返现拿现金。返现提现当天到帐无手续费！小范会告诉您，飞猪怎样预订才能省钱！</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end of blog section-->

            <!--Contact Info Section-->
            <section id="contct-info" class="section-padding parallex-bg contact-section overlay-dark" data-background-img="img/full/contact_bg.jpg" data-bg-position="right bottom">
                <div class="container text-center">
                    <h1 class="main-title pb-60">联系我们</h1>
                </div>
                <div class="container text-center">
                    <div class="row">
                     <!-- contact information-->
                        <div class="col-md-4">
                            <div class="address-info mb-20">
                                <div class="icon-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="icon-text">
                                    <span>联系电话</span>
                                    <p>4000-640-466</p>
                                </div>
                            </div>
                            <div class="address-info mb-20">
                                <div class="icon-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="icon-text">
                                    <span>联系邮箱</span>
                                    <p>service@f-li.cn</p>
                                </div>
                            </div>
                            <div class="address-info mb-20">
                                <div class="icon-left">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </div>
                                <div class="icon-text">
                                    <span>办公地址</span>
                                    <p>上海黄浦区外滩源1号</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of contact information-->
                        <!-- contact Form-->
                        <div class="col-md-8">
                            <form id="contact" class="contact-form" novalidate="novalidate">
                                <div class="col-md-12 text-center">
                                    <h5 class="successContent">
                                            <i class="fa fa-check left" style="color: #5cb45d;"></i>Thank you,Your message successfully Sent.
                                        </h5>
                                    <h5 class="errorContent" style="color: #e1534f;">
                                            <i class="fa fa-exclamation-circle left"></i>There was a Error in the form please check!
                                        </h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cntform-field">
                                            <input class="input-md form-full" id="cnt-name" type="text" name="cnt-name" placeholder="您的昵称" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cntform-field">
                                            <input class="input-md form-full" id="cnt-email" type="email" name="cnt-email" placeholder="您的邮箱" required="" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cntform-field">
                                            <input class="input-md form-full" id="cnt-subject" type="text" name="cnt-subject" placeholder="标题">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cntform-field">
                                            <input class="input-md form-full" id="cnt-company" type="text" name="cnt-company" placeholder="公司">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-0">
                                        <div class="cntform-field">
                                            <textarea class="input-md form-full" id="cnt-message" rows="7" name="cnt-message" placeholder="您的信息" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn-contact-submit btn btn-md btn-color" type="submit" id="form-submit" name="submit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of contact form-->
                    </div>
                </div>
            </section>
            <!-- End Contact Info Section-->

            <!--Footer Section-->
            <footer id="footer" class="footer dark-bg" th:include="common :: footer"></footer>
            <!-- End Footer Section-->
            <!-- Scroll Top -->
            <a href="#" class="scroll-top">
                <i class="fa fa-angle-double-up"></i>
            </a>
            <!-- End Scroll Top -->
        </div>
    </div>
    <!-- End Page Wraper -->

    <!-- Js -->
    <script src="/js/contact-form.js"></script>
    <script src="/js/theme.js"></script>
</body>
</html>
