<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
<body>
<!-- Site preloader -->
<section id="preloader">
    <div class="site-spinner"></div>
</section>
<!-- End Site preloader -->
<!-- Page Wraper -->
<div id="page-wraper">
    <div class="wrapper">
        <!-- Header -->
        <div id="header" class="header dark-bg">
            <div class="header-inner">
                <!-- Logo -->
                <div class="logo">
                    <a href="/index.html">
                        <img src="/img/logo.png" alt="logo" style="width: 24px;margin: -8px 0 0 0;"/>
                        <span style="color: #FDCA4A; font-size: 22px;font-weight: bold;">小范省钱</span>
                    </a>
                </div>
                <!-- End Logo -->
                <!--Navigation Icon-->
                <div class="nav-menu-icon">
                    <a><i class="fa fa-bars"></i></a>
                </div>
                <!--End Navigation Icon-->
                <!-- Navigation Menu -->
                <div class="nav-menu singlepage-nav">
                    <ul class="nav-menu-inner">
                        <li><a class="external-link" href="/index.html">首页</a></li>
                        <li><a class="external-link" href="/index.html#service-section">返现网站</a></li>
                        <li><a class="external-link" href="/index.html#testimonials-section">用户评价</a></li>
                        <li><a class="external-link" href="/index.html#blog-section">小范资讯</a></li>
                        <li><a class="external-link" href="/index.html#contct-info">联系我们</a></li>
                        <li><a href="/index.html#about-me-section" class="external-link btn-border">关注我们</a></li>
                    </ul>
                </div>
                <!-- End Navigation Menu -->
            </div>
        </div>
        <!-- End Header -->

        <!-- breadcrumbs-->
        <section id="bredcrumbs-section" class="breadcrumbs yellow-bg">
            <div class="container">
                <div class="row">
                    <h1 class="main-title">邀请好友</h1>
                    <div class="page-breadcrumb text-center">
                        <a href="/index.html">首页</a>/<span>邀请好友</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- end breadcrumbs-->

        <!--Contact Info Section-->
        <section id="contct-info" class="section-padding parallex-bg contact-section overlay-dark"
                 data-background-img="img/full/contact_bg.jpg" data-bg-position="right bottom">
            <div class="container text-center">
                <h1 class="main-title pb-60">接受邀请</h1>
            </div>
            <div class="container text-center">
                <div class="row">
                    <!-- contact information-->
                    <div class="col-md-12" th:style="'display:' + (${code} != null ? 'block' : 'none')">
                        <div class="address-info icon-text mb-20">
                            <span th:text="${fromUserName}"></span>
                            <p>邀请您一起省钱购物，关注小范省钱。</p>
                            <p th:text="${intro}"></p>
                            <p style="margin: 9px 0 6px 0;">
                                <img src="/img/wxlogo.png" width="28" height="28"/> 长按识别二维码接受邀请，
                                与<span th:text="${fromUserName}"></span>绑定为伙伴，永久享受额外20%返现提成！
                            </p>
                            <p><img src="/img/qrcode.jpg"/></p>
                        </div>
                    </div>
                    <div id="inviteTab" class="col-md-12 text-center" style="visibility: hidden">
                        <h5 class="successContent">
                            <i class="fa fa-check left" style="color: #5cb45d;"></i>接受邀请成功！
                        </h5>
                        <h5 class="errorContent" style="color: #e1534f;">
                            <i class="fa fa-exclamation-circle left"></i>接受邀请失败！请重新识别邀请二维码！
                        </h5>
                        <div class="address-info icon-text mb-20">
                            <p>
                                您<span th:text="${toUserName}"></span>
                                与<span class="fromUserName"></span>成功绑定为伙伴，永久享受额外20%返现提成！
                            </p>
                        </div>
                    </div>
                    <!-- end of contact information-->
                </div>
            </div>
        </section>
        <!-- End Contact Info Section-->

        <!--Footer Section-->
        <footer id="footer" class="footer dark-bg" th:include="common :: footer"></footer>
        <!-- End Footer Section-->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->
    </div>
</div>
<!-- End Page Wraper -->

<input type="hidden" id="code" th:value="${code}"/>
<!-- Js -->
<script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
<script src="/js/theme.js"></script>
<script>
    $(function () {
        var key = "fl", val = $("#code").val();
        if (val) {
            storage.setItem(key, val);
        } else {
            val = storage.getItem(key);
        }
        if (!val) {
            location.href = "/index.html";
            return;
        }
        var inviteId = storage.getParameter("inviteId");
        if (val == inviteId) {
            location.href = "/invite.html?id=" + val;
            return;
        }

        if (inviteId) {
            $("#inviteTab").LoadingOverlay("show");
            $.post("/user/inviteConfirm", {
                id: val,
                inviteId: inviteId
            }, function (result) {
                $("#inviteTab").LoadingOverlay("hide");
                if (!result || result.code != 1) {
                    $('.successContent').hide();
                    $('.errorContent').fadeIn(1000);
                    return;
                }
                $(".fromUserName").text(result.value);
                $("#inviteTab").css("visibility", "visible");
                $('.errorContent').hide();
                $('.successContent').fadeIn(1000);
            });
        }
    });

    //indexedDb
    storage = {
        getItem: function (k) {
            return localStorage.getItem(k) || $.cookie(k);
        },
        setItem: function (k, v) {
            localStorage.setItem(k, v);
            $.cookie(k, v, {expires: 365, path: '/'});
        },
        getParameter: function (name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"), results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    };
</script>
</body>
</html>
