<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    function waitClickComplete(timeoutSeconds, checkComplete, btnSelector, reClickEachSeconds, skipFirstClick) {

    }

    function f() {
        if (!window._submitForm) {
            window._submitForm = function (url, data, isJsonType) {
                var form = $("#_xf");
                if (form.length == 0) {
                    $("<iframe id='_xi' name='_xi' style='display:none'></iframe>").appendTo("body");
                    form = $("<form id='_xf' method='post' target='_xi' style='display: none'></form>");
                }
                form.attr('action', url);
                if (isJsonType) {
                    form.attr("enctype", "text/plain");
                } else {
                    form.attr("enctype", "multipart/form-data");
                }
                for (var m in data) {
                    console.log(m, "=", data[m]);
                    var val = isJsonType ? JSON.stringify(data[m]) : data[m];
                    form.append("<input type='hidden' name='" + m + "' value='" + val + "' />");
                }
                form.appendTo("body");
                form.submit();
                return $($("#_xi")[0].contentDocument).html();
            }
        }

        _submitForm("https://union.jd.com/api/report/queryOrderDetail",
            JSON.parse("{\"data\":{\"endTime\":\"2019-01-20\",\"opType\":\"1\",\"orderId\":0,\"orderStatus\":\"0\",\"orderType\":\"0\",\"startTime\":\"2019-01-12\",\"unionTraffictType\":\"0\"},\"pageNo\":1,\"pageSize\":20}"), true);
    }

    function tb_find() {
        var index = -1, goodsId = "%s", name = "id".replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&");
        $('.color-m').each(function (i, o) {
            var href = $(o).attr("href");
            var match = href.match(new RegExp("[?&]" + name + "=([^&]+)(&|$)"));
            var id = match && decodeURIComponent(match[1].replace(/\+/g, " "));
            if (goodsId == id) {
                index = i;
                return false;
            }
        });
        if (index == -1) {
            return "";
        }
        var result = {index: index, moneys: []}, offset = index * 3;
        for (var i = 0; i < 3; i++) {
            var j = offset + i;
            result.moneys.push($('.number-16:eq(' + j + ')').text());
        }
        $('.box-btn-left:eq(' + index + ')').click();
        return JSON.stringify(result);
    }

    function tb_promotion() {
        var promotionId = "%s", offset = 0;
        var result = "";
        for (var i = 0; i < 2; i++) {
            $('.dropdown:eq(5) a:eq(' + offset + ')').click();
            if ($('.dropdown:eq(5) .dropdown-toggle-label').text().trim() == promotionId) {
                result = promotionId;
                break;
            }
        }
        return result;
    }

    function tb_find2() {
        var index = -1, name = "id".replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"), $a = $('.color-m:eq(' + index + ')');
        var result = {
            index: index,
            id: (function () {
                var href = $a.attr("href");
                var match = href.match(new RegExp("[?&]" + name + "=([^&]+)(&|$)"));
                return match && decodeURIComponent(match[1].replace(/\+/g, " "));
            })(),
            name: $a.text(),
            moneys: []
        }, offset = index * 3;
        for (var i = 0; i < 3; i++) {
            var j = offset + i;
            result.moneys.push($('.number-16:eq(' + j + ')').text());
        }
        $('.box-btn-left:eq(' + index + ')').click();
        return JSON.stringify(result);
    }

    //window.btoa("fanli-x&4ever")
    function jd_login() {
        var doc = $("#indexIframe")[0].contentDocument;
        $("#loginname", doc).val("17091916400");
        $("#nloginpwd", doc).val(window.atob(""));
        $("#paipaiLoginSubmit", doc).click();
    }

    function jd_find() {
        var index = 0, offset = 0;
        var btnIndex = index * 2;

        $('.el-select-dropdown__item:eq(1)').click();
        offset += 2;
        $('.el-select-dropdown__item:eq(' + offset + ')').click();
        $('.operation:eq(2) button:eq(1)').click();
        return [$('.three:eq(' + index + ') span:first').text(), $('.one:eq(' + index + ') b').text()].toString();
    }

    function jd_orders2() {
        $.orderNo = $val.orderId;
        $.goodsId = $val.orderSkuDetailInfos[0].skuId;
        $.goodsName = $val.orderSkuDetailInfos[0].skuName;
        $.unitPrice = $val.orderSkuDetailInfos[0].price;
        $.quantity = $val.orderSkuDetailInfos[0].skuNum;
        $.sellerName = null;
        $.payAmount = $val.payPriceSum;
        $.rebateAmount = $val.estimateFeeOrder;
        $.settleAmount = $val.actualFeeOrder;
        $.createTime = $val.orderTimeStr;
    }

    function jd_orders() {
        $.ajax({
            type: "post",
            url: "https://union.jd.com/api/report/queryOrderDetail",
            data: JSON.stringify({
                "data": {
                    "endTime": "2019-01-29",
                    "opType": "1",
                    "orderId": 0,
                    "orderStatus": "0",
                    "orderType": "0",
                    "startTime": "2019-01-01",
                    "unionTraffictType": "0"
                }, "pageNo": 1, "pageSize": 1000
            }),
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                // console.log(data);
                window._callbackValue = data;
            }
        });
        var json = {error: false}, result = window._callbackValue;
        if (result.code != 200) {
            json.error = true;
            return JSON.stringify(json);
        }
        result = result.data;
        json.moreData = result.moreData;
        json.orders = [];
        var orderDetailInfos = result.orderDetailInfos;
        for (var i = 0; i < orderDetailInfos.length; i++) {
            var item = orderDetailInfos[i];
            if (item.validCodeStr == "无效-拆单") {
                continue;
            }
            var order = {};
            order.orderNo = item.orderId;
            order.goodsId = item.orderSkuDetailInfos[0].skuId;
            order.goodsName = item.orderSkuDetailInfos[0].skuName;
            order.unitPrice = item.orderSkuDetailInfos[0].price;
            order.quantity = item.orderSkuDetailInfos[0].skuNum;
            order.sellerName = "";
            order.payAmount = item.payPriceSum;
            order.rebateAmount = item.estimateFeeOrder;
            order.settleAmount = item.actualFeeOrder;
            order.createTime = item.orderTimeStr;
            order.validCodeStr = item.validCodeStr;
            order.promotionId = item.spIdStr;
            json.orders.push(order);
        }
        return JSON.stringify(json);
    }

    function pdd_login() {
        $(".btn-link").click();
        var me = $;
        setTimeout(function () {
            me("#mobile").value = "17091916400";
            me("input[type=password]").value = window.atob("ZmFubGkteCY0ZXZlcg==");
            me(".item-div .login-btn").click();
        }, 1000);
    }
</script>
</body>
</html>
